<!-- start: Meta -->
<meta charset="utf-8">
<title>{{ title|default( 'Simple Content Storage' ) }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="description" content="Simple Content Storage.">
<meta name="author" content="Netgen">
<meta name="keyword" content="Simple, Content, Storage">
<meta name="MSSmartTagsPreventParsing" content="TRUE" />
<meta name="generator" content="Netgen Simple Content Storage powered by eZ Publish" />
<!-- end: Meta -->

<!-- start: Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- end: Mobile Specific -->

<!-- start: Favicon and Touch Icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset( "bundles/netgensimplecontentstorage/sq/ico/apple-touch-icon-144-precomposed.png" ) }}"/>
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset( "bundles/netgensimplecontentstorage/sq/ico/apple-touch-icon-114-precomposed.png" ) }}"/>
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset( "bundles/netgensimplecontentstorage/sq/ico/apple-touch-icon-72-precomposed.png" ) }}"/>
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset( "bundles/netgensimplecontentstorageassets/sq/ico/apple-touch-icon-57-precomposed.png" ) }}"/>
<link rel="shortcut icon" href="{{ asset( "bundles/netgensimplecontentstorage/ico/favicon.png" ) }}"/>
<!-- end: Favicon and Touch Icons -->

<link rel="Home" href="/" title=" front page"/>
<link rel="Index" href="/"/>
<link rel="Top" href="/" title="{{ title|default( 'Home' ) }}"/>
<link rel="Copyright" href="/ezinfo/copyright"/>
<link rel="Author" href="/ezinfo/about"/>
<link rel="Alternate" type="application/rss+xml" title="RSS" href="/rss/feed/content"/>

<script type="text/javascript">
    (function () {
        var head = document.getElementsByTagName('head')[0];
        var printNode = document.createElement('link');
        printNode.rel = 'Alternate';
        printNode.href = "/layout/set/print" + document.location.pathname + document.location.search;
        printNode.media = 'print';
        printNode.title = "Printable version";
        head.appendChild(printNode);
    })();
</script>
