<!-- start: Header -->
<header class="navbar">
<div class="container">
<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>


{#
<div class="sidebar-wrapper">
<a id="main-menu-toggle" class="hidden-xs open"><i class="fa fa-bars"></i></a>
<a class="navbar-brand col-lg-2 col-sm-1 col-xs-12" href="{{ path( ezpublish.rootLocation ) }}">

    {% if not ez_is_field_empty( content, 'logo') %}
        {% set image_variation = ez_image_alias( content.getField( 'logo' ), content.versionInfo, 'original' ) %}
        <span><img src="{{ asset( image_variation.uri ) }}" /></span>
    {% else %}
        <span>{{ ez_render_field( content, 'heading' ) }}</span>
    {% endif %}
</a>
</div>
#}


   
        <div class="sidebar-wrapper col-lg-2 col-sm-1 col-xs-12">
          <a id="main-menu-toggle" class="hidden-xs open"><i class="fa fa-bars"></i> <span>{% include "design:dummy_twig_translation.tpl" with {"context": "scs/header", "translation_string":"MENU" } %}</span></a>
        </div>

    




<!-- start: Header Menu -->
<div class="nav-no-collapse header-nav">


{# MI: TEMPORARY HIDDEN #}
{#% if user_content %}
<ul class="nav navbar-nav pull-left" style="margin-left: 14.422%">

    <li class="dropdown hidden-xs">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-plus-circle"></i>
            <span> {% include "design:dummy_twig_translation.tpl" with {"context": "scs/login", "translation_string":"Create new" } %}</span>
        </a>
        <ul class="dropdown-menu notifications">
            <li class="dropdown-menu-title">
                <span>{% include "design:dummy_twig_translation.tpl" with {"context": "scs/login", "translation_string":"Select content type" } %}</span>
            </li>
            {% for class in classes %}
                <li>
                    <a href="#" onclick="ezpopmenu_submitForm( 'create-{{ class.identifier }}' ); return false;">
                        <span class="message">{{ class.getName(language) }}</span>
                        <span class="time"></span>
                    </a>
                    <form style="display: none" id="create-{{ class.identifier }}" method="post" action="{{ path( 'ez_legacy', {'module_uri': '/content/action'} ) }}">
                        <!--<input type="hidden" value="63" name="NodeID">-->
                        <input type="hidden" value="{{ class.id }}" name="ClassID">
                        <input type="hidden" value="" name="NewButton">
                        <input type="hidden" value="{{ language }}" name="ContentLanguageCode">
                    </form>
                </li>
            {% endfor %}
        </ul>
    </li>
</ul>
{% endif %#}

<ul class="nav navbar-nav brand">
    <li class="logo">
        <a href="{{ path( ezpublish.rootLocation ) }}">       
            {% if not ez_is_field_empty( content, 'logo') %}
                {% set image_variation = ez_image_alias( content.getField( 'logo' ), content.versionInfo, 'original' ) %}
                <span><img src="{{ asset( image_variation.uri ) }}" /></span>
            {% else %}
                <span>{{ ez_render_field( content, 'heading' ) }}</span>
            {% endif %}
        </a>
    </li>
</ul>

<ul class="nav navbar-nav pull-right">
{% if user_content %}
    {% for class in classes %}
        <li>
            <a class="btn btn2" href="#" onclick="ezpopmenu_submitForm( 'create-{{ class.identifier }}' ); return false;">
                <i class="fa fa-plus-circle"></i>
                <span class="message">{% include "design:dummy_twig_translation.tpl" with {"context": "scs/header", "translation_string": class.getName('eng-GB') } %}</span>
                <span class="time"></span>
            </a>
            <form style="display: none" id="create-{{ class.identifier }}" method="post" action="{{ path( 'ez_legacy', {'module_uri': '/content/action'} ) }}">
                <!--<input type="hidden" value="63" name="NodeID">-->
                <input type="hidden" value="{{ class.id }}" name="ClassID">
                <input type="hidden" value="" name="NewButton">
                <input type="hidden" value="{{ language }}" name="ContentLanguageCode">
            </form>
        </li>
    {% endfor %}
{% endif %}
{% if logged_in %}
    <!-- start: User Dropdown -->
    <li class="dropdown">
        <a class="btn account dropdown-toggle" data-toggle="dropdown" href="#">
            {% if user_content and not ez_is_field_empty( user_content, 'image') %}
                {% set image_variation = ez_image_alias( user_content.getField( 'image' ), user_content.versionInfo, 'small' ) %}
                <div class="avatar"><img src="{{ asset( image_variation.uri ) }}" /></div>
            {% else %}
                <div class="avatar"></div>
            {% endif %}
            <div class="user">
                <span class="hello">{% include "design:dummy_twig_translation.tpl" with {"context": "scs/login", "translation_string":"Welcome!" } %}</span>
                <span class="name">{{ user.name }}</span>
            </div>
            <i class="fa fa-chevron-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li class="dropdown-menu-title">

            </li>
            <li><a href="{{ path( 'ez_legacy', {'module_uri': '/content/edit/' ~ user.id ~ '/f/' ~ user.mainLanguageCode } ) }}"><i class="fa fa-user"></i> {% include "design:dummy_twig_translation.tpl" with {"context": "scs/login", "translation_string":"Profile" } %}</a></li>
            <li><a href="{{ path( 'ez_legacy', {'module_uri': '/notification/settings'} ) }}"><i class="fa fa-bell"></i> {% include "design:dummy_twig_translation.tpl" with {"context": "scs/login", "translation_string":"My notifications" } %}</a></li>
            <li><a href="{{ path( 'ez_legacy', {'module_uri': '/content/bookmark'} ) }}"><i class="fa fa-bookmark"></i> {% include "design:dummy_twig_translation.tpl" with {"context": "scs/login", "translation_string":"My bookmarks" } %}</a></li>
            {#<li><a href="{{ path( 'ez_legacy', {'module_uri': '/ngbookmark/bookmark'} ) }}"><i class="fa fa-search"></i> {% include "design:dummy_twig_translation.tpl" with {"context": "scs/login", "translation_string":"My saved searches" } %}</a></li>#}
            <li><a href="{{ path( 'ez_legacy', {'module_uri': '/content/draft'} ) }}"><i class="fa fa-pencil-square-o"></i> {% include "design:dummy_twig_translation.tpl" with {"context": "scs/login", "translation_string":"My drafts" } %}</a></li>
            <li><a href="{{ path( 'ez_legacy', {'module_uri': '/user/password'} ) }}"><i class="fa fa-key"></i> {% include "design:dummy_twig_translation.tpl" with {"context": "scs/login", "translation_string":"Change password" } %}</a></li>
            <li><a href="{{ path( 'logout' ) }}"><i class="fa fa-off"></i> {% include "design:dummy_twig_translation.tpl" with {"context": "scs/login", "translation_string":"Logout" } %}</a></li>
        </ul>
    </li>
    <!-- end: User Dropdown -->

{% else %}

    <li class="login"><a class="btn" href="{{ path( 'login' ) }}"> {% include "design:dummy_twig_translation.tpl" with {"context": "scs/login", "translation_string":"Login" } %}</a></li>
    <li><a class="btn" href="{{ path( 'ez_legacy', {'module_uri': '/user/register'} ) }}"> {% include "design:dummy_twig_translation.tpl" with {"context": "scs/login", "translation_string":"Sign up" } %}</a></li>

{% endif %}

    <li class="dropdown lang-select-wrapper">
        {% include "design:page_header_languages.tpl" with {"access_type": {"name" : ezpublish.siteaccess.name }} %}
    </li>

</ul>
</div>
<!-- end: Header Menu -->

</div>
</header>
<!-- end: Header -->
