<form action="{{ form_action }}" method="post" {{ form_enctype(form) }} class="well form-search" id="filter-form">

    {% set user_has_access = ezpublish_can_user( 'access', 'non_public', content.contentInfo ) %}

    <!-- form errors -->
    {{ form_errors(form) }}
    {% form_theme form 'NetgenSimpleContentStorageBundle:Form:dossier_filter_fields.html.twig' %}
    {#{ form_errors(form.term) }}

    {% form_theme form 'NetgenSimpleContentStorageBundle:Form:dossier_filter_fields.html.twig' %}

    {{ form_widget(form.term) }}

    {{ form_rest(form) }#}
    <div class="row">
        <div class="col-lg-9 col-sm-6 col-xs-6">
            <div class="form-group">
                {{ form_widget(form.term, {'attr' : {'class': 'form-control'}} ) }}
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-6">
            <div class="form-group">
                {{ form_widget(form.search_type, {'attr' : {'class': 'form-control'}} ) }}
            </div>
        </div>
    </div>

    <div class="row">
        {% if user_has_access %}
        <div class="col-sm-3 col-xs-6">
            <div class="form-group">
                {{ form_widget(form.availability, {'attr' : {'class': 'form-control'}} ) }}
            </div>
        </div>
        {% endif %}
        <div class="col-sm-3 col-xs-6">
            <div class="form-group">
                {{ form_widget(form.regulator, {'attr' : {'class': 'form-control'}} ) }}
            </div>
        </div>
        {% if user_has_access %}
        <div class="col-sm-3 col-xs-6">
            <div class="checkbox">
                {{ form_widget( form.owner ) }}
                {% include 'design:dummy_twig_translation.tpl' with {'context': 'scs/search', 'translation_string':'Only my reviews' } %}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input class="btn btn-primary clear" type="submit" value="{% include 'design:dummy_twig_translation.tpl' with {'context': 'scs/search', 'translation_string':'Submit' } %}"/>
        </div>
    </div>

    {{ form_rest(form) }}

</form>
