{% extends pagelayout %}

{% set user_can_edit = ezpublish_can_user( 'content', 'edit', content.contentInfo ) %}
{% set cur_siteaccess = ezpublish.siteaccess %}

{% block content %}
    <div class="clearfix">
        <div class="{% if user_can_edit and cur_siteaccess.name != 'eng' %}col-lg-11{% else %}col-lg-12{% endif %}">
            <div class="box">
                <div class="box-header">
                    <h2><i class="fa fa-file-text"></i>{% include "design:dummy_twig_translation.tpl" with {"context": "scs/search", "translation_string":"Search" } %}: {{ ez_field_value( content, "name" ) }}</h2>
                </div>
                <div class="box-content">
                    {% include form_template with { form: form, form_action: path( "ez_urlalias", { locationId: location.id } ), 'show_results': show_results} %}
                </div>
            </div>
        </div>

        <div class="col-lg-1">
            {% include "design:parts/modal_buttons.tpl" with {"node": location} %}
        </div>
        {#
        <div class="col-lg-3">
            <div class="box">
                <div class="box-header">
                    <h2><i class="fa fa-floppy-o"></i>Saved searches</h2>
                </div>
                <div class="box-content">
                    <div class="right-info">
                        <input type="hidden" id="nodename" value="{{ ez_field_value( content, "name" ) }}" />
                        <label>Latest saved searches</label>
                    </div>
                </div>
            </div>
        </div>#}
    </div>

        <div class="{% if user_can_edit and cur_siteaccess.name != 'eng' %}col-lg-11{% else %}col-lg-12{% endif %}">
            <div class="box">
                <div class="box-header">
                    <h2><i class="fa fa-file-text"></i>{% include "design:dummy_twig_translation.tpl" with {"context": "scs/search", "translation_string":"Search results" } %}</h2>
                </div>
                <div class="box-content">
                    <p>{% include "design:dummy_twig_translation.tpl" with {"context": "scs/search", "translation_string":"Found" } %}: {{ pager.getNbResults() }}</p>
                    {#<ul>
                        {% for hit in pager %}
                            <li><a href="{{ path( 'ez_urlalias', {'locationId': hit.valueObject.contentInfo.mainLocationId} ) }}">{{ ez_content_name( hit.valueObject ) }}</a></li>
                        {% endfor %}
                    </ul>#}

                    {#/* @todo Izvuci iz configResolvera "locale" ( eg. eng-GB ) i proslijediti ga u getName('locale') za object stateove*/#}
                {% if not pager.getNbResults()  %}
                    <p>{% include "design:dummy_twig_translation.tpl" with {"context": "scs/search", "translation_string":"Sorry, no results were found." } %}</p>
                {% else %}
                    <table class="clickable table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>{% include "design:dummy_twig_translation.tpl" with {"context": "scs/search", "translation_string":"Review name" } %}</th>
                            <th>{% include "design:dummy_twig_translation.tpl" with {"context": "scs/header", "translation_string":"Legal Act" } %}</th>
                            <th>{% include "design:dummy_twig_translation.tpl" with {"context": "scs/search", "translation_string":"Modification date" } %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for hit in pager %}
                            <tr>
                            <td><a href="{{ path( 'ez_urlalias', {'locationId': hit.valueObject.contentInfo.mainLocationId} ) }}">{{ hit.valueObject.contentInfo.name }}</a></td>
                            <td>{{ hit.parentLocation.contentInfo.name }}</td>
                            <td>{{ hit.valueObject.versionInfo.modificationDate.date|date( 'd/m/Y' ) }}</td>
                            </tr>{{ ezpublish.legacy.get('content_info')  }}

                        {% endfor %}
                        </tbody>
                    </table>
                    {% if pager.haveToPaginate() %}
                        {{ pagerfanta( pager, 'twitter_bootstrap3_translated', {
                        'routeName': 'ez_urlalias',
                        'routeParams': query_string|merge({'locationId': content.contentInfo.mainLocationId})
                        } )
                        }}
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
{% endblock %}
